[submodule "mini-swe-agent"]
	path = mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent
[submodule "tinker-atropos"]
	path = tinker-atropos
	url = https://github.com/nousresearch/tinker-atropos
[submodule "gallery-wiki"]
	path = gallery-wiki
	url = https://github.com/google-ai-edge/gallery.wiki.git
